# Основные зависимости
opencv-contrib-python>=4.5.0  # Для обработки изображений
pytesseract>=0.3.8            # Для OCR (Tesseract)
numpy>=1.19.0                 # Для числовых операций с изображениями

# Постобработка текста (spellchecking, логирование)
pyspellchecker>=0.7.0         # Для проверки орфографии
pymorphy2>=0.9.1              # морфологический анализатор для определения начальной формы слова
setuptools>=65.0

# Дополнительные зависимости для будущего функционала
# scikit-image>=0.18.0        # Для дополнительной обработки изображений (может понадобиться)
# scipy>=1.6.0                # Для научных вычислений (может понадобиться для продвинутой обработки)

# Зависимости для будущей интеграции с Kraken (можно раскомментировать позже)
# kraken>=3.0.0               # Для распознавания рукописного текста
# torch>=1.7.0                # Зависимость для Kraken
# torchvision>=0.8.0          # Зависимость для Kraken

# Дополнительные утилиты
# tqdm>=4.0.0                 # Для progress bar (может пригодиться для больших архивов)
# python-magic>=0.4.0         # Для определения типов файлов
